<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA-kwSIN2bAwpdN9nxls6rlAZxsMq14nQI</string>
	<key>GCM_SENDER_ID</key>
	<string>293389950289</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dylan.JournalCam</string>
	<key>PROJECT_ID</key>
	<string>journalcam-8aecb</string>
	<key>STORAGE_BUCKET</key>
	<string>journalcam-8aecb.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:293389950289:ios:1b8adec33b879ada860770</string>
</dict>
</plist>